@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  font-family: Open Sans, sans-serif;
  background-color: #f9fafc;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 18px;
}

.link-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
}

ul.link {
  border-bottom: 12px solid red;
}

a {
  text-decoration: none;
  color: #69696a;
}

.longbutton {
  text-decoration: none;
  color: #fff;
  background-color: black;
  text-align: center;
  border-radius: 25px;
  width: 100%;
}

.longbutton:hover {
  text-decoration: none;
  color: #fff;
}

.longbutton:visited {
  text-decoration: none;
  color: #fff;
}

a:visited {
  text-decoration: none;
  color: #69696a;
}

.paragraph {
  border-left: 3px solid #69696a;
  margin: 0px;
  padding-left: 5px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .head {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    padding-bottom: 100px;
  }

  .link-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    transition: 0.5s ease;
    left: 60%;
    top: 0%;
  }

  .link {
    margin: 5px;
  }

  .paragraph {
    font-size: 18px;
    width: 50%;
  }

  .longbutton {
    width: 12%;
  }

  .longbutton.button1 {
    position: absolute;
    left: 85%;
    top: 2%;
  }

  .longbutton.button2 {
    position: absolute;
    top: 90%;
    left: 45%;
  }

  .circle1 {
    background-color: rgba(247, 136, 167, 0.6);
    height: 130px;
    width: 130px;
    border-radius: 130px;
    position: absolute;
    bottom: 60%;
    left: 77%;
  }

  .circle2 {
    background-color: rgba(247, 193, 162, 0.7);
    height: 110px;
    width: 110px;
    border-radius: 110px;
    position: absolute;
    bottom: 50%;
    left: 83%;
  }

  .circle3 {
    background-color: rgba(207, 130, 213, 0.6);
    height: 90px;
    width: 90px;
    border-radius: 90px;
    position: absolute;
    bottom: 60%;
    left: 88%;
  }
}
